.main-container {

}

.about-bg-img {
  background: url(../images/about-img.png) no-repeat center center;
    background-size: cover;
  border: 2px solid #36518a;
  border-radius: 3px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.11), inset 1px 1px 0 rgba(255, 255, 255, 0.4);
  height: 425px;
  margin: 20px 0;
  width: 96.5%;

  opacity: .001;
  transition: opacity 1s 1s;
    -moz-transition: opacity 1s 1s;
    -webkit-transition: opacity 1s 1s;
    -o-transition: opacity 1s 1s;
    -ms-transition: opaity 1s 1s;
    -khtml-transition: opacity 1s 1s;
}

.about-bg-container {
  color: rgb(90,90,90);
  font-style: italic;
  margin-top: -15px;
  text-align: center;
  width: 96.5%;
}

.fa-angle-double-right {
  margin-left: 4px;
}

h1 {

}

h2 {
  padding-top: 15px;
}

p {
  margin-left: 36.5px;
  margin-right: 30px;
}


/*--------------------------- 
        Responsive
---------------------------*/

@media only screen and (min-width : 730px) and (max-width : 950px) {
  .about-bg-img {
    background: url(../images/about-img.png) no-repeat center center;
      background-size: cover;
    border: 2px solid #36518a;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.11), inset 1px 1px 0 rgba(255, 255, 255, 0.4);
    height: 400px;
    margin-left: 20px;
    margin: 20px 0;
    width: 92%;
  }

}
