.main-container {

}

.about-bg-img {
  background: url(../images/about-img.png) no-repeat center center;
    background-size: cover;
  border: 2px solid #36518a;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.11), inset 1px 1px 0 rgba(255, 255, 255, 0.4);
  height: 425px;
  margin-left: 20px;
  margin: 20px 0;
  width: 96.5%;
}

.about-bg-container {
  color: rgb(90,90,90);
  font-style: italic;
  margin-top: -15px;
  text-align: center;
  width: 96.5%;
}

.fa-angle-double-right {
  margin-left: 4px;
}

h1 {

}

h2 {
  padding-top: 15px;
}

p {
  margin-left: 37.5px;
  margin-right: 30px;
  
  margin-bottom: 150px;
}

.bookcontainer {
  margin: 30px 20px 0px 0px;
  padding-bottom: 100px;
  text-align: center;
}

.book {
  border: 1px solid rgba(0,0,0,.6);
  border-bottom: 2px solid rgba(0,0,0,.9);
  border-right: 2px solid rgba(0,0,0,.9);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .6);
  display: inline-block;
  height: 180px;
  margin: 5px;
  width: 140px;
}

.habit {
  background: url(../images/habit.jpg) no-repeat center center;
  background-size: cover;
}

.success {
  background: url(../images/success.jpg) no-repeat center center;
  background-size: cover;}

.flowers {
  background: url(../images/flowers.jpg) no-repeat center center;
  background-size: cover;}

.enders {
  background: url(../images/enders.jpg) no-repeat center center;
  background-size: cover;}

.sogood {
  background: url(../images/sogood.jpg) no-repeat center center;
  background-size: cover;}

.fourhour {
  background: url(../images/fourhour.jpg) no-repeat center center;
  background-size: cover;
}

.dmmt {
  background: url(../images/dmmt.jpg) no-repeat center center;
  background-size: cover;
}

.little {
  background: url(../images/little.png) no-repeat center center;
  background-size: cover;}

.obstacle {
  background: url(../images/obstacle.png) no-repeat center center;
  background-size: cover;}

.hitch {
  background: url(../images/hitch.jpg) no-repeat center center;
  background-size: cover;}

.willpower {
  background: url(../images/willpower.jpg) no-repeat center center;
  background-size: cover;}

.nosense {
  background: url(../images/nosense.png) no-repeat center center;
  background-size: cover;
}