.detail-container {
  padding-bottom: 200px;
}

.detail-container p {
  margin: 10px 15px 35px 36.5px;
}

iframe {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
}

.fa-angle-double-right {
  margin-left: 4px;
}

.btn-container {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

button {
  border-radius: 3px;
  color: #fff;
  font-size: 1.025rem;
  font-weight: 100;
  height: 50px;
  letter-spacing: .05rem;
  margin: 0 5px;
  padding-right: 13px;
  text-align: center;
  width: auto;
}

button i {
  font-size: 1.25rem !important;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0; 
}

.prototype-btn {
  border: 1px solid #36518a;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.11), inset 1px 1px 0 rgba(255, 255, 255, 0.4);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
  background: linear-gradient(top, #476ab4 0%, #36518a 100%);
    background: -webkit-linear-gradient(top, #476ab4 0%, #36518a 100%);
    background: -moz-linear-gradient(top, #476ab4 0%, #36518a 100%);
    background: -ms-linear-gradient(top, #476ab4 0%, #36518a 100%);
    background: -o-linear-gradient(top, #476ab4 0%, #36518a 100%);
}

.github-btn {
  border: 1px solid #d16a25;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.11), inset 1px 1px 0 rgba(255, 255, 255, 0.4);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
  background: linear-gradient(top, #df864a 0%, #d16a25 100%);
    background: -webkit-linear-gradient(top, #df864a 0%, #d16a25 100%);
    background: -moz-linear-gradient(top, #df864a 0%, #d16a25 100%);
    background: -ms-linear-gradient(top, #df864a 0%, #d16a25 100%);
    background: -o-linear-gradient(top, #df864a 0%, #d16a25 100%);
}

.github-btn:hover {
  background: #df864a;
}

.prototype-btn:hover {
  background: #476ab4;
}

.github-btn:active {
  background: #d16a25;
}

.prototype-btn:active {
  background: #36518a;
}
