.detail-container {
  padding-bottom: 200px;
}

.detail-container p {
  margin: 10px 15px 35px 36.5px;
}

iframe {
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
}

.fa-angle-double-right {
  margin-left: 4px;
}

.btn-container {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

button {
  font-size: 1.025rem;
  height: 50px;
  margin: 0 5px;
  padding-right: 13px;
  text-align: center;
  width: auto;
}

.cf-pic-container {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.cf-pic {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 22.5%;
  height: 325px;
}

.cf-sketch1 {
  background: url(../images/cf-sketch1.jpg) no-repeat center center;
  background-size: cover;
}
.cf-sketch2 {
  background: url(../images/cf-sketch2.jpg) no-repeat center center;
  background-size: cover;
}
.cf-sketch3 {
  background: url(../images/cf-sketch3.jpg) no-repeat center center;
  background-size: cover;
}
.cf-sketch4 {
  background: url(../images/cf-sketch4.jpg) no-repeat center center;
  background-size: cover;
}

.cf-ax1 {
  background: url(../images/cf-ax1.png) no-repeat center center;
  background-size: cover;
}
.cf-ax2 {
  background: url(../images/cf-ax2.png) no-repeat center center;
  background-size: cover;
}
.cf-ax3 {
  background: url(../images/cf-ax3.png) no-repeat center center;
  background-size: cover;
}
.cf-ax4 {
  background: url(../images/cf-ax4.png) no-repeat center center;
  background-size: cover;
}