.detail-container {
  padding-bottom: 200px;
}

.detail-container p {
  margin: 10px 15px 35px 36.5px;
}


.fa-angle-double-right {
  margin-left: 4px;
}

.btn-container {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}

button {
  font-size: 1.025rem;
  height: 50px;
  margin: 0 5px;
  padding-right: 13px;
  text-align: center;
  width: auto;
}

.pic-container {
  margin: 0;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  background: rgb(250,250,250);
  border: 1px solid rgb(240,240,240);
  border-left: 4px solid #476ab4;
  border-radius: 5px;
  box-shadow:0 1px 2px rgba(0,0,0,.5);
  border-radius: 3px;
  width: 97.5%;
}

.pic {
  border: 1px solid gray;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 22.5%;
  height: 350px;
}

.half-pic {
  border: 1px solid gray;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 45%;
  height: 350px;
}

.full-pic {
  border: 1px solid gray;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 75%;
  height: 350px;
}

.pic-container-footer {
  margin-top: 10px;
  margin-bottom: -5px;
}

.kf-old {
  background: url(../images/kf-old-web-half.png) no-repeat center center;
  background-size: cover;
}

.kf-sketch1 {
  background: url(../images/kf-sketch1.jpg) no-repeat center center;
  background-size: cover;
}

.kf-sketch3 {
  background: url(../images/kf-sketch3.jpg) no-repeat center center;
  background-size: cover;
}

.kf-sketch4 {
  background: url(../images/kf-sketch4.jpg) no-repeat center center;
  background-size: cover;
}

.kf-sitemap {
  background: url(../images/kf-sitemap.png) no-repeat center center;
  background-size: cover;
}

.kf-wf-1 {
  background: url(../images/kf-wf-1-half.png) no-repeat center center;
  background-size: cover;
}

