body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

/*--------------------------- 
        Navigation
---------------------------*/

nav {
  background-color: #2b406e;
  border-right: 1px solid #2b406e;
  box-shadow: 2px -1px 4px rgba(0, 0, 0, .5);
  color: #fff;
  height: 100%;
  letter-spacing: .05rem;
  min-height: 1000px;
  position: fixed;
  text-shadow  : 0 -1px 1px rgba(0, 0, 0, .5) !important;
  width: 240px;
  z-index: 9999;

  background-image: url(../images/dark-stripes.png), linear-gradient(top, #36518a 0%, #2b406e 100%);
    background-image: url(../images/dark-stripes.png), -webkit-linear-gradient(top, #36518a 0%, #2b406e 100%);
    background-image: url(../images/dark-stripes.png), -moz-linear-gradient(top, #36518a 0%, #2b406e 100%);
    background-image: url(../images/dark-stripes.png), -ms-linear-gradient(top, #36518a 0%, #2b406e 100%);
    background-image: url(../images/dark-stripes.png), -o-linear-gradient(top, #36518a 0%, #2b406e 100%);
}

nav ul {
  list-style: none;
  margin: 30px 0px 50px 0px;
  padding: 0;
  width: 100%;
}

nav ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 0 rgba(255, 255, 255, .14);
  color: #fff;
  font-size: 1.25rem;
  margin-left: 0;
  padding: 12.5px 0px 14px 20px;
}

.first-child {
  box-shadow: 0px -1px 0 rgba(255, 255, 255, .14), 0px 1px 0 rgba(255,255,255, .14);
}

nav ul li:hover {
  background-color: #36518a;
  background-image: url(../images/dark-stripes.png);
  color: #ffcf76;
  text-decoration: underline;
}

nav ul li:active {
  background-color: #31487c;
  background-image: url(../images/dark-stripes.png);
  color: #ffa500;
}

.fa-home, .fa-user, .fa-comment, .fa-list-alt, .fa-file-pdf-o {
  font-size: 1.6rem;
  margin-right: 4px;
  text-align: center;
  width: 45px;
}

.active {
  color: #ffa500;
}

nav ul a {
  color: black;
  text-decoration: none;
}

.headpic {
  background: url(../images/BenKim.png) no-repeat center center ;
  background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.11);
  box-shadow   : 0 2px 2px rgba(0, 0, 0, 0.75), inset 1px 2px 0 rgba(255, 255, 255, 0.3);
  height: 140px;
  left: 48px;
  margin-bottom: 40px;
  position: relative;
  top: 25px;
  width: 140px;
  opacity: .001;
  transition: opacity .5s .05s;
    -moz-transition: opacity .5s .05s;
    -webkit-transition: opacity .5s .05s;
    -o-transition: opacity .5s .05s;
    -ms-transition: opaity .5s .05s;
    -khtml-transition: opacity .5s .05s;
}

nav h1 {
  font-weight: 400;
  line-height: 1;
  margin: 0;
  text-align: center;
}

nav h3 {
  font-weight: 100;
  margin: 0;
  text-align: center;
}

a {
  color: #ffa500;
  text-decoration: none;
}

a:hover {
  color: #ffae1a;
  text-decoration: underline;
}

a:active {
  color: #e69500;
}

/*--------------------------- 
        Main Area
---------------------------*/

.background {
  height: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-image: url(../images/absurd.png);
}

.main-container {
  background: rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.2);
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 20px 25px 0px 280px;
  position: absolute;
  width: 70%;
  max-width: 1080px;
  min-width: 675px;
  z-index: 2;
}

.period-emphasis {
  color: #ffa500;
  font-size: 3.5rem;
  line-height: 0;
}

.fa-angle-double-right {
  color: #ffa500;
  margin-right: 10px;
}

.main-container h1 {
  color: rgb(40,40,40);
  font-size: 3.25rem;
  font-weight: 300;
  letter-spacing: -.1rem;
}

.main-container h2 {
  color: rgb(40,40,40);
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 0rem;
  margin: 0;  
}

.main-container p {
  color: rgb(25,25,25);
  font-size: 1.25rem;
  letter-spacing: .025rem;
}

.footcrumb {
  font-size: 1.025rem;
  margin-left: 6px;
  margin-top: -30px;
}

/*--------------------------- 
        Social Icons
---------------------------*/

.socialicons{
  margin-top: 105px;
  text-align: center;
}

.socialicons > a > i{
  background: #36518a;
  border-radius: 50%;
  border: 1px solid #2b406e;
  box-shadow   : 0px -1px 0 rgba(0, 0, 0, 0.25);
  color        : rgba(255,255,255,.95);
  cursor    : pointer;
  font-size    : 1.75rem;
  margin       : 0px 0px 0px 0px;
  text-shadow  : 0 2px 0px rgba(0, 0, 0, .5);
}

.socialicons > a > i:hover {
  color: #ffcf76 !important;
}

.socialicons > a > i:active {
  color: #ffa500 !important;
}

.fa-linkedin {
  padding   : 11px 12.5px 12.5px 15.5px;
}

.fa-twitter {
  padding   : 12px 12px 11px 14px;
}

.fa-github-alt {
  padding   : 12px 13px 11.5px 14px;
}

.fa-envelope {
  padding   : 10.5px 11.5px 12px 13.5px;
}

/*--------------------------- 
        Footer
---------------------------*/

.footer {
  color:rgba(255,255,255,.85);
  font-style: italic;
  font-size: .85rem;
  margin-top: 10px;
  text-align: center;
}

.footer a {
  color: rgba(255,255,255,.85);
}

.footer a:hover, {
  color: #ffae1a;
  text-decoration: underline;
}

.footer a:active {
  color: #e69500;
}

/*--------------------------- 
        Buttons
---------------------------*/
button {
  border-radius: 3px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.11), inset 1px 1px 0 rgba(255, 255, 255, 0.4);
  color: white;
  font-weight: 100;
  letter-spacing: .05rem;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
}

button i {
  font-size: 1.25rem !important;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0; 
}

.btn-orange {
  border: 1px solid #d16a25;
  background: linear-gradient(top, #df864a 0%, #d16a25 100%);
    background: -webkit-linear-gradient(top, #df864a 0%, #d16a25 100%);
    background: -moz-linear-gradient(top, #df864a 0%, #d16a25 100%);
    background: -ms-linear-gradient(top, #df864a 0%, #d16a25 100%);
    background: -o-linear-gradient(top, #df864a 0%, #d16a25 100%);
}

.btn-orange:hover {
  background: #df864a;
}

.btn-orange:active {
  background: #d16a25;
}

.btn-blue{
  border: 1px solid #36518a;  
  background: linear-gradient(top, #476ab4 0%, #36518a 100%);
      background: -webkit-linear-gradient(top, #476ab4 0%, #36518a 100%);
      background: -moz-linear-gradient(top, #476ab4 0%, #36518a 100%);
      background: -ms-linear-gradient(top, #476ab4 0%, #36518a 100%);
      background: -o-linear-gradient(top, #476ab4 0%, #36518a 100%);
}


.btn-blue:hover {
  background: #476ab4;
}

.btn-blue:active {
  background: #36518a;
}

.btn-gray {
  background: gray;
  border: gray;
  cursor: auto;
  outline: none;
}

.btn-gray:hover {
  background: gray;
}

.btn-gray:active {
  background: gray;
}
/*--------------------------- 
        Responsive
---------------------------*/

@media only screen and (min-width : 730px) and (max-width : 950px) {
  nav {
    width: 200px;
  }

  .headpic {
    left: 29px;
  }

  .socialicons {
    width: 150px;
    margin-left: 20px;
    margin-top: -35px;
  }

  .socialicons a i {
    margin: 3px 2px;
  }

  .background {
    height: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-image: url(../images/absurd.png);
  }

  .main-container {
    border: 0;
    height: 100%;
    margin: 0;
    max-width: 900px;
    overflow-y: scroll;
    padding: 30px 0px 0px 220px;
    position: fixed;
    width: 75%;
    min-width: 475px;
    z-index: 2;
  }
}

@media only screen and (min-width : 100px) and (max-width : 729px) {
  nav {
    display: none;
    height: 50px;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    z-index: 1;
  }

  nav ul {
    list-style: none;
    display: inline-block;
    height: 50px;
    /*margin: 30px 0px 50px 0px;*/
    left: 0;
    top: 10px;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
  }

  nav ul li {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0px 0 rgba(255, 255, 255, .14);
    color: #fff;
    display: inline;
    font-size: 1.225rem;

    position: relative;
    top: 0;
    margin: 0;
    padding: 12.5px 20px 14px 15px;
    width: 33%;
  }

  .first-child {
    box-shadow: -1px 0 0 rgba(255, 255, 255, .14), 1px 0px 0 rgba(255,255,255, .14);
  }

  .headpic {
    display: none;
    height: 100%;
    left: 10px;
    top: 2.5px;
    width: 7%;
  }

  nav h1 {
    display: none;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    text-align: center;
  }

  nav h3 {
    display: none;
    font-weight: 100;
    margin: 0;
    text-align: center;
  }

  .fa-home, .fa-code, .fa-pencil, .fa-user, .fa-comment, .fa-th {
    /*display: none;*/
    font-size: 1.25rem;
    margin-right: 5px;
    text-align: center;
    width: 20px;
  }

  .socialicons {
    display: none;
  }

  .footer {
    display: none;
  }

  .background {
    border: 0;
    height: 100%;
    left: 0;
    margin: 0;
    min-width: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-image: url(../images/absurd.png);
  }

  .main-container {
    border: 0;
    height: 100%;
    left: 0;
    margin: 0;
    overflow-y: scroll;
    padding: 30px 0px 30px 0px;
    position: relative;
    min-width: 0;
    width: 100%;
    z-index: 2;
  }
}
