body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

/*--------------------------- 
        Navigation
---------------------------*/

nav {
  text-shadow  : 0 -1px 1px rgba(0, 0, 0, .5) !important;
  z-index: 9999;
  color: white;
  position: fixed;
  height: 100%;
  width: 240px;
  border-right: 1px solid #2b406e;
  box-shadow: 2px -1px 4px rgba(0, 0, 0, .5);
  background: #2b406e;
  background-image: url(../images/dark-stripes.png), -webkit-linear-gradient(top, #36518a 0%, #2b406e 100%);
  letter-spacing: .05rem;
}

nav ul {
  list-style: none;
  margin: 30px 0px 50px 0px;
  padding: 0;
  width: 100%;
}

nav ul li {
  color: white;
  font-size: 1.25rem;
  padding: 12.5px 0px 14px 20px;
  margin-left: 0;
  border-bottom  : 1px solid rgba(0, 0, 0, 0.1);
  box-shadow    : 0px 1px 0 rgba(255, 255, 255, .14);
}

.first-child {
   box-shadow    : 0px -1px 0 rgba(255, 255, 255, .14), 0px 1px 0 rgba(255,255,255, .14);
}

nav ul li:hover {
  color: #ffcf76;
  background-image: url(../images/dark-stripes.png);
  background-color: #36518a;
  text-decoration: underline;
}

nav ul li:active {
  color: #ffa500;
  background-image: url(../images/dark-stripes.png);
  background-color: #31487c;
}

.fa-home, .fa-code, .fa-pencil, .fa-user, .fa-comment {
  width: 45px;
  font-size: 1.6rem;
  text-align: center;
  margin-right: 4px;
}

.active {
  color: #ffa500;
}

nav ul a {
  text-decoration: none;
  color: black;
}

.headpic {
  background: url(../images/BenKim.png) no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.11);
  left: 49px;
  top: 25px;
  position: relative;
  width: 140px;
  height: 140px;
  margin-bottom: 40px;
  box-shadow   : 0 2px 2px rgba(0, 0, 0, 0.75), inset 1px 2px 0 rgba(255, 255, 255, 0.3);

  
}

nav h1 {
  text-align: center;
  line-height: 1;
  margin: 0;

}

nav h3 {
  text-align: center;
  margin: 0;
  font-weight: 100;
}


/*--------------------------- 
        Main Area
---------------------------*/

.background {
  position: fixed;
  left: -200px;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  padding-left: 200px;
  /*background-image: url(../images/brilliant.png), -webkit-linear-gradient(top, rgb(245,245,245) 75%, rgba(250,150,50,.1) 100%);*/
  /*background-image: url(../images/project-paper.png), -webkit-linear-gradient(top, rgb(245,245,245) 75%, rgba(250,150,50,.1) 100%);*/
  /*background-image: url(../images/subtle.png), -webkit-linear-gradient(top, rgb(245,245,245) 75%, rgba(250,150,50,.1) 100%);*/
  /*background-image: url(../images/diagonal.png), -webkit-linear-gradient(top, rgb(245,245,245) 75%, rgba(250,150,50,.1) 100%);*/
  background-image: url(../images/absurd.png), -webkit-linear-gradient(top, rgb(245,245,245) 70%, rgba(250,150,50,.09) 100%);
}

.main-container {
  position: absolute;
  padding: 30px 10px 0px 275px;
  border-right: 1px solid rgba(0,0,0,.2);
  overflow-y: scroll;
  margin: 0;
  width: 55%;
  height: 100%;
  background: rgba(255,255,255,.75);
  z-index: 2;
}

.period-emphasis {
  color: #ffa500;
  font-size: 3.5rem;
  line-height: 0;
}

.fa-angle-double-right {
  color: #ffa500;
  margin-right: 10px;
}


.main-container h1 {
  font-size: 3.25rem;
  font-weight: 300;
  letter-spacing: -.1rem;
  color: rgb(40,40,40);
}

.main-container h2 {
  font-size: 2.25rem;
  letter-spacing: 0rem;
  margin: 0;  
  font-weight: 300;
  color: rgb(40,40,40);
}

.main-container p {
  font-size: 1.25rem;
  letter-spacing: .025rem;
  color: rgb(25,25,25);
}

/*--------------------------- 
        Social Icons
---------------------------*/

.socialicons{
  margin-top: -10px;
  text-align: center;
  /*border: 1px solid;*/
}

.socialicons > a > i {
  cursor    : pointer;
  background: #36518a;
  color        : rgba(255,255,255,.95);
  border-radius: 90px;
  border: 1px solid #2b406e;
  font-size    : 1.75rem;
  text-shadow  : 0 2px 0px rgba(0, 0, 0, .5);
  margin       : 0px 0px 0px 0px;
  box-shadow   : 0px -1px 0 rgba(0, 0, 0, 0.25);
}

.socialicons > a > i:hover {
  color: #ffcf76 !important;
}

.socialicons > a > i:active {
  color: #ffa500 !important;
}

.fa-linkedin {
  padding   : 11.5px 13px 12px 15px;
}

.fa-twitter {
  padding   : 12px 12px 11px 14px;
}

.fa-github-alt {
  padding   : 12px 13.5px 11.5px 13.5px;
}

.fa-envelope {
  padding   : 11.5px 12.5px 11px 13px;
}


/*
.socialicons{
  padding-top: 20px;
  text-align: center;
}

.socialicons > a > i {
  border-radius: 90px;
  color        : white;
  font-size    : 1.75rem;
  text-shadow  : 0 -1px 1px rgba(0, 0, 0, .5);
  margin       : 0px 0px 0px 0px;
  box-shadow   : 0 1px 2px rgba(0, 0, 0, 0.5), inset 1px 1px 0 rgba(255, 255, 255, 0.2);
}

.fa-linkedin {
  background: #0976b4;
  background: -webkit-linear-gradient(top, #0a82c7 0%, #086aa1 100%);
  border    : 1px solid #086aa1;
  cursor    : pointer;
  padding   : 11.5px 13px 12px 15px;
}

.fa-linkedin:hover {
  background: #0a82c7;
}

.fa-linkedin:active {
  background: #086aa1;
}

.fa-twitter {
  background: #00aced;
  background: -webkit-linear-gradient(top, #15bfff 0%, #00aced 100%);
  border    : 1px solid #00aced;
  cursor    : pointer;
  padding   : 12px 12px 11px 14px;
}

.fa-twitter:hover {
  background: #29c4ff;
}

.fa-twitter:active {
  background: #00aced;
  outline   : inherit;
}

.fa-github-alt {
  background: #333;
  background: -webkit-linear-gradient(top, #3d3d3d 0%, #292929 100%);
  border    : 1px solid #292929;
  cursor    : pointer;
  padding   : 12px 13.5px 11.5px 13.5px;
}

.fa-github-alt:hover {
  background: #3d3d3d;
}

.fa-github-alt:active {
  background: #292929;
}

.fa-envelope {
  background: #0f9d58;
  background: -webkit-linear-gradient(top, #11af62 0%, #0d8b4e 100%);
  border    : 1px solid #0d8b4e;
  cursor    : pointer;
  padding   : 11.5px 12.5px 11px 13px;
}

.fa-envelope:hover {
  background: #11af62;
}

.fa-envelope:active {
  background: #0d8b4e;
}
*/