body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

/*--------------------------- 
        Navigation
---------------------------*/

nav {
  background-color: #2b406e;
  border-right: 1px solid #2b406e;
  box-shadow: 2px -1px 4px rgba(0, 0, 0, .5);
  color: #fff;
  height: 100%;
  letter-spacing: .05rem;
  position: fixed;
  text-shadow  : 0 -1px 1px rgba(0, 0, 0, .5) !important;
  width: 240px;
  z-index: 9999;

  background-image: url(../images/dark-stripes.png), linear-gradient(top, #36518a 0%, #2b406e 100%);
    background-image: url(../images/dark-stripes.png), -webkit-linear-gradient(top, #36518a 0%, #2b406e 100%);
    background-image: url(../images/dark-stripes.png), -moz-linear-gradient(top, #36518a 0%, #2b406e 100%);
    background-image: url(../images/dark-stripes.png), -ms-linear-gradient(top, #36518a 0%, #2b406e 100%);
    background-image: url(../images/dark-stripes.png), -o-linear-gradient(top, #36518a 0%, #2b406e 100%);
}

nav ul {
  list-style: none;
  margin: 30px 0px 50px 0px;
  padding: 0;
  width: 100%;
}

nav ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 0 rgba(255, 255, 255, .14);
  color: #fff;
  font-size: 1.25rem;
  margin-left: 0;
  padding: 12.5px 0px 14px 20px;
}

.first-child {
  box-shadow: 0px -1px 0 rgba(255, 255, 255, .14), 0px 1px 0 rgba(255,255,255, .14);
}

nav ul li:hover {
  background-color: #36518a;
  background-image: url(../images/dark-stripes.png);
  color: #ffcf76;
  text-decoration: underline;
}

nav ul li:active {
  background-color: #31487c;
  background-image: url(../images/dark-stripes.png);
  color: #ffa500;
}

.fa-home, .fa-code, .fa-pencil, .fa-user, .fa-comment, .fa-th {
  font-size: 1.6rem;
  margin-right: 4px;
  text-align: center;
  width: 45px;
}

.active {
  color: #ffa500;
}

nav ul a {
  color: black;
  text-decoration: none;
}

.headpic {
  background: url(../images/BenKim.png) no-repeat center center ;
  background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.11);
  box-shadow   : 0 2px 2px rgba(0, 0, 0, 0.75), inset 1px 2px 0 rgba(255, 255, 255, 0.3);
  height: 140px;
  left: 48px;
  margin-bottom: 40px;
  position: relative;
  top: 25px;
  width: 140px;
}

nav h1 {
  font-weight: 400;
  line-height: 1;
  margin: 0;
  text-align: center;
}

nav h3 {
  font-weight: 100;
  margin: 0;
  text-align: center;
}

a {
  color: #ffa500;
  text-decoration: none;
}

a:hover {
  color: #ffae1a;
  text-decoration: underline;
}

a:active {
  color: #e69500;
}

/*--------------------------- 
        Main Area
---------------------------*/

.background {
  height: 100%;
  left: -200px;
  margin: 0;
  padding-left: 200px;
  position: fixed;
  top: 0;
  width: 100%;

  background-image: url(../images/absurd.png);
}

.main-container {
  background: rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.2);
  height: 100%;
  margin: 0;
  max-width: 900px;
  overflow-y: scroll;
  padding: 30px 10px 0px 275px;
  position: absolute;
  width: 55%;
  z-index: 2;
}

.period-emphasis {
  color: #ffa500;
  font-size: 3.5rem;
  line-height: 0;
}

.fa-angle-double-right {
  color: #ffa500;
  margin-right: 10px;
}

.main-container h1 {
  color: rgb(40,40,40);
  font-size: 3.25rem;
  font-weight: 300;
  letter-spacing: -.1rem;
}

.main-container h2 {
  color: rgb(40,40,40);
  font-size: 2.25rem;
  font-weight: 300;
  letter-spacing: 0rem;
  margin: 0;  
}

.main-container p {
  color: rgb(25,25,25);
  font-size: 1.25rem;
  letter-spacing: .025rem;
}

.footcrumb {
  font-size: 1.025rem;
  margin-left: 6px;
  margin-top: -30px;
}

/*--------------------------- 
        Social Icons
---------------------------*/

.socialicons{
  margin-top: -10px;
  text-align: center;
}

.socialicons > a > i {
  background: #36518a;
  border-radius: 50%;
  border: 1px solid #2b406e;
  box-shadow   : 0px -1px 0 rgba(0, 0, 0, 0.25);
  color        : rgba(255,255,255,.95);
  cursor    : pointer;
  font-size    : 1.75rem;
  margin       : 0px 0px 0px 0px;
  text-shadow  : 0 2px 0px rgba(0, 0, 0, .5);
}

.socialicons > a > i:hover {
  color: #ffcf76 !important;
}

.socialicons > a > i:active {
  color: #ffa500 !important;
}

.fa-linkedin {
  padding   : 11.5px 13px 12px 15px;
}

.fa-twitter {
  padding   : 12px 12px 11px 14px;
}

.fa-github-alt {
  padding   : 12px 13.5px 11.5px 13.5px;
}

.fa-envelope {
  padding   : 11.5px 12.5px 11px 13px;
}