/*-----Main-----*/
body {
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 300;
  margin: 0 0 0 0;
}

#nav {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

img[class='bio'] {
  width: 60%;
  height: 60%;
  padding-bottom: 10px;
  margin: -5px 0 5px 0;
  margin-left: 5%;
}

h1 {
  font-weight: 300;
  font-size: 2.75em;
  line-height: 1em;
  margin-left: 5px;
}

h3 {
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.25em;
  margin: -20px 0 15px 0;
  margin-left: 8px;
}

a {
  text-decoration: none;
  color: #7c7ab3;
}

a:hover {
  color: #3a3f9c;
}

ul li{
  padding-bottom: 5px;
}

.navbar {
  background-image: url('../images/sos.png');
  position: fixed;
  background-color: rgba(255, 255, 248, 1);
  color: rgb(51, 51, 51);
  height: 100%;
  width: 100%;
  min-height: 525px;
  min-width: 160px;
  padding: 15px 0 0 20px;
  z-index: 1000;
}

.menu {
  font-family: 'Helvetica Neue';
  font-size: 1.25em;
  margin-left: -8px;
  float: left;
}

footer {
  font-family: 'Helvetica Neue';
  position: absolute;
  font-size: 1em;
  padding-right: 0;
  bottom: 2%;
  margin-left: 8px;
}

/*-----Menu Animation-----*/
.pullright {
  -webkit-transition-property: color, background-color, padding-left;
  -moz-transition-property: color, background-color, padding-left;
  -o-transition-property: color, background-color, padding-left;
  -ms-transition-property: color, background-color, padding-left;
  transition-property: color, background-color, padding-left;

  -webkit-transition-duration: 400ms, 400ms, 400ms;
  -moz-transition-duration: 400ms, 400ms, 400ms;
  -o-transition-duration: 400ms, 400ms, 400ms;
  -ms-transition-duration: 400ms, 400ms, 400ms;
  transition-duration: 400ms, 400ms, 400ms;
}

.pullright:hover {
  color: #3a3f9c;
  padding-left: 20px;
}

.menu a::before,.menu a::after {
  display: inline-block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s,;
}

.menu a::before {
  margin-right: 5px;
  -moz-transition: -moz-transform 0.3s,;
  -o-transition: -o-transform 0.3s,;
  -ms-transition: -ms-transform 0.3s,;
  transition: transform 0.3s,;
}

.menu a::before {
  margin-right: 5px;
  content: '<';

  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -o-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

.menu a::after {
  margin-left: 5px;
  content: '/>';

  -webkit-transform: translateX(-30px);
  -moz-transform: translateX(-30px);
  -o-transform: translateX(-30px);
  -ms-transform: translateX(-30px);
  transform: translateX(-30px);
}

.menu a:hover::before,.menu a:hover::after,.menu a:focus::before,.menu a:focus::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;

  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

/*-----Social Media Icons-----*/

ul#sm { width: 100%; overflow: hidden; padding: 0; margin: 10px 0px 20px -2.5px;}
ul#sm li { float: left; margin: 0 5px 5px 0}
ul#sm li:nth-last-child(1) { margin-right:0 }
ul#sm li a { width:33px; height: 33px; display: block; background-image:url("../images/socialmedia.svg"); text-indent:-99999px }

a.facebook { background-position: 0 0 }
a.facebook:hover { background-position: 0 -33px;}

a.twitter { background-position: -40px 0 }
a.twitter:hover { background-position: -40px -33px;}

a.gplus { background-position: -80px 0 }
a.gplus:hover { background-position: -80px -33px;}

a.linkedin { background-position: -240px 0 }
a.linkedin:hover { background-position: -240px -33px;}
