/*----------
  Bio Page
----------*/
.biocontainer {
  position: absolute;
  top: 50%;
  left: 2.5%;
  width: 30%;
  padding: 10px;
  background-color: rgba(255, 255, 255, .8);
}

.biocontainer:before {
  content: 'About';
  font-size: 45px;
  margin: -17.5% 0% 0% 25%;
  position: absolute;
  background-color: rgba(255, 255, 255, .8);
  border: 1px solid;
}

/*----------------
  Notre Dame Page
------------------*/

.ndcontainer {
  position: absolute;
  top: 60%;
  left: 60%;
  width: 30%;
  padding: 10px;
  background-color: rgba(255, 255, 255, .8);
}

.ndcontainer:before {
  content: 'Education';
  font-size: 45px;
  margin: -17.5% 0% 0% 15%;
  position: absolute;
  background-color: rgba(255, 255, 255, .8);
  border: 1px solid;
}

.ndbackground {
  background: url(../images/NDGoldenDome.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  z-index: 100;
  top:5%;
  padding-bottom: 5%;
}

/*----------------
  Resume Page
------------------*/

.resumecontainer {
  position: absolute;
  top: 60%;
  left: 5%;
  width: 30%;
  padding: 10px;
  background-color: rgba(255, 255, 255, .8);
}

.resumecontainer:before {
  content: 'My Work';
  font-size: 45px;
  margin: -17.5% 0% 0% 20%;
  position: absolute;
  background-color: rgba(255, 255, 255, .8);
  border: 1px solid;
}

.resumebackground {
  top: 5%;
  background: url(../images/work.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 100;
}


/* ----------------
Make a div class for container headings, container body, etc
------------------*/