/*----------
Bio Page
----------*/
.biocontainer {
  position: absolute;
  top: 50%;
  left: 2.5%;
  width: 30%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
}

.biocontainer:before {
  content: 'About';
  font-size: 45px;
  margin: -17.5% 0% 0% 25%;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid;
}

/*----------------
Notre Dame Page
------------------*/
.ndcontainer {
  position: absolute;
  top: 60%;
  left: 60%;
  width: 30%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
}

.ndcontainer:before {
  content: 'Education';
  font-size: 45px;
  margin: -17.5% 0% 0% 15%;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid;
}

.ndbackground {
  background: url(../images/NDGoldenDome.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
  z-index: 100;
  top: 5%;
  padding-bottom: 5%;
}

/*----------------
Resume Page
------------------*/
.resumecontainer {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 30%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
}

.resumecontainer:before {
  content: 'My Work';
  font-size: 45px;
  margin: -17.5% 0% 0% 20%;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid;
}

.resumebackground {
  top: 5%;
  padding-bottom: 5%;
  background: url(../images/work.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: 100;
}

/*----------------
  Testimonials Page
------------------*/
.slider-nav { 
  display: none; 
  margin-top: 1em;
}

.slider-nav a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.slider-nav a:hover {
  cursor: pointer;
  color: silver;
  text-decoration: none;
}

.slider {
  width: 600px;
  height: 300px;
  margin: 0 21% 2.5%;
  padding: 0;
  overflow: scroll;
}

.slider ul {
  width: 5000px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider li {
  float: left;
  width: 600px;
  height: 300px;  
}

.quote {
  text-align: justify;
  font-size: 1.2em;
  padding: 10px;
}

.quotebackground {
  background-color: rgb(54,152,190);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding-top: 5%;
}
.quotecontainer {
  padding-top: 5%;
  text-align: center;
  color: white;
}

/* ----------------
Make a div class for container headings, container body, etc
------------------*/