*{
  /*border: 1px solid ;*/
}
.portfolio-card {
  background: rgb(250,250,250);
  border: 1px solid rgb(240,240,240);
  box-shadow:0 1px 1px rgba(0,0,0,.5), inset 1px 1px 0 rgba(255, 255, 255, 0.4);
  border-left: 4px solid #476ab4;
  border-radius: 3px ;
  height: 275px;
  min-height: 250px;
  margin-top: 20px;
  padding: 30px 0 55px 0;
  width: 97.5%;
  opacity: 0.001; 
}

.one {
  transition: opacity 1s .5s;
    -moz-transition: opacity 1s .5s;
    -webkit-transition: opacity 1s .5s;
    -o-transition: opacity 1s .5s;
    -ms-transition: opacity 1s .5s;
    -khtml-transition: opacity 1s .5s;
}

.two {
  transition: opacity 1s 1s;
    -moz-transition: opacity 1s 1s;
    -webkit-transition: opacity 1s 1s;
    -o-transition: opacity 1s 1s;
    -ms-transition: opacity 1s 1s;
    -khtml-transition: opacity 1s 1s;
}

.three {

}

.work-tile-img-left {
  border-radius: 3px;
  float: left;
  height: 200px;
  width: 25%;
}

.work-tile-img-right {
  border-radius: 3px;
  float: right;
  height: 200px;
  width: 25%;
}

.work-tile-text-right {
  height: auto;
  float: right;
  margin-left: 20px;
  position: relative;
  width: 70%;
}

.work-tile-text-left {
  float: left;
  margin-right: 20px;
  position: relative;
  width: 70%;
}



.portfolio-card h2 a {
  font-weight: 100;
  letter-spacing: .015rem;
  margin-bottom: 0;
}

.portfolio-card h3 {
  font-style: italic;
  font-weight: 100;
  margin: 5px 0px -10px 2px;
}

.portfolio-card p {
  margin-bottom: -10px;
}

.portfolio-footer {
  color: #476ab4;
  border: 1px solid rgba(220,220,220,1);
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  padding: 5px;
  position: absolute;
  right: 10px;
  top: -22.5px;
}

.work-paragraph-line {
  font-size: 1.25rem;
  margin-bottom: 8px;
  margin-left: 25px;
  margin-top: 0;
  text-indent: -10.50px;
}

.cf-img {
  background: url(../images/cf.png) no-repeat center center;
  background-size: cover;
  height: 300px;
  margin-left:25px;
  margin-top: -25px;
  text-align: center;
  width: 150px;
}

.kf-img {
  background: url(../images/kf-2.png) no-repeat center center;
  background-size: cover;
  height: 90px;
  margin-left:25px;
  margin-top: 20px;
  text-align: center;
  width: 175px;
}

.upaji-img {
  background: url(../images/upaji-logo.png) no-repeat center center;
  background-size: cover;
  height: 150px;
  margin-left:25px;
  text-align: center;
  width: 150px;
}

.new-project-img {
  background: rgb(125,125,125);
  border: 1px solid black;
  color: white;
  font-size: 3.35rem;
  font-weight: 700;
  margin-top: 15px;
  text-align: center;
}

button {
  font-size: 1.025rem;
  height: 50px;
  margin: 10px 0px 0px 25px;
  padding-right: 11px;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
  width: auto;
}

.btn-hire {
  font-size: 1.5rem;
  width: 200px;
  height: 75px;
  padding: 0;
  margin: 0;
}

.btn-hire:hover {
  background: #df864a;
}

.btn-hire:active {
  background: #d16a25;
}

.work-tile-text-full {
  height: auto;
  width: 98%;
  min-width: 400px;
  margin: 50px 20px 0 0;
  padding: 35px 0 100px 0;
  text-align: center;
  border-top: 1px solid rgb(200,200,200);
}

/*--------------------------- 
        Responsive
---------------------------*/


@media only screen and (min-width : 730px) and (max-width : 950px) {
  .portfolio-card {
    height: 300px;
  }

  .work-tile-container {
    height: 250px;
    margin-top: 20px;
    width: 97.5%;
  }

  .work-tile-img-left {
    border-radius: 3px;
    float: left;
    height: 200px;
    width: 25%;
  }

  .work-tile-img-right {
    border-radius: 3px;
    float: right;
    height: 200px;
    width: 25%;
  }

  .work-tile-text-right {
    float: left;
    margin-left: 5px;
    position: relative;
    width: 70%;
  }

  .work-tile-text-left {
    float: left;
    margin-right: 5px;
    position: relative;
    width: 70%;
  }

  .work-tile-text-full {
    margin-left: -15px;
    min-width: 300px;
    padding-bottom: 125px;
    width: 100%;
  }

  .card-img{
    width: 100px;
    height: 200px;
  }
  
  .kf-img {
    width: 90px;
    height: 80px;
  }

  }
}

