* {
  /*border: 1px solid;  */
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: white;
}

.bg {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(45,45,45,.1);
}

.overlay {
  position: fixed;
  background: url(../images/cubes.png) repeat repeat;
  background-color: #777aad;
  z-index: 2;
  height: 300px;
  width: 100%;
}

nav {
  z-index: 9999;
  height: 80px;
  /*background-color: rgba(230,230,230,.5);*/
}

nav .logo {
  font-family: "Satisfy", cursive;
  font-size: 3.5rem;
  padding: 20px 0px 0px 10px;
  text-shadow: 1px 2px 0px rgba(45,45,45,1);
  float: left;
}

nav ul {
  font-size: 1.4rem;
  margin-right: 30px;
  float: right;
}

nav > ul > li {
  padding-top: 20px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.9);
  text-align: center;
  display: inline-block; 
}

nav .logo a,
nav ul li a {
  padding: 20px 25px 15px 25px;
  color: rgb(255,255,255);
  text-decoration: none;
}

nav ul li a:hover {
  border-bottom: 5px solid rgba(250,150,125,.65);
}

.maincontainer {
  position: fixed;
  background-color: rgb(250,250,250);
  z-index: 9998;
  top: 155px;
  left: 10%;
  width: 80%;
  height: 500px;
  border-radius: 8px 8px 5px 5px;
  box-shadow: 0px 2px 6px rgba(0,0,0,.6);
}

.maintext {

}
/*
.socialicons {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 5px;
}

.fa {
  color: white;
  margin-right: 10px;
  border-radius: 12.5%;
  box-shadow: 2px 2px 1px rgba(15,15,15,.6);
  -o-transition:.20s;
  -ms-transition:.20s;
  -moz-transition:.20s;
  -webkit-transition:.20s;
  transition:.20s;
}

.fa-twitter {
  padding: 10px 11.75px 10px 11.75px;
  background: rgba(0, 172, 237,.8);
  border: 1px solid rgba(0,172,237,.5);
}

.fa-twitter:hover {
  color: rgb(0, 172, 237);
  background-color: rgba(255,255,255,.9);
}

.fa-linkedin {
  padding: 10px 12.75px 10px 12.75px;
  background-color: rgba(0,123,182,.9);
  border: 1px solid rgba(0,124,182,.5);
}

.fa-linkedin:hover {
  color: rgb(0, 123, 182);
  background-color: rgba(255,255,255,.9);
}

.fa-file-pdf-o {
  padding: 10px 13.25px 10px 13.25px;
  background-color: rgba(255,0,0,.75);
  border: 1px solid rgba(255,0,0,.4);
}

.fa-file-pdf-o:hover {
  color: rgb(240,0,0);
  background-color: rgba(255,255,255,.9);
}

.fa-envelope {
  padding: 10px;
  background-color: rgba(211,72,54,.9);
  border: 1px solid rgba(211,72,54,.5);
}

.fa-envelope:hover {
  color: rgb(211,72,54);
  background-color: rgba(255,255,255,.9);
}*/