*{
  /*border: 1px solid ;*/
}
.work-tile-container {
  height: auto;
  min-height: 250px;
  margin-top: 20px;
  padding-bottom: 50px;
  width: 97.5%;
}

.work-tile-img-left {
  border-radius: 3px;
  float: left;
  height: 200px;
  width: 25%;
}

.work-tile-img-right {
  border-radius: 3px;
  float: right;
  height: 200px;
  width: 25%;
}

.work-tile-text-right {
  float: left;
  margin-left: 20px;
  position: relative;
  width: 70%;
}

.work-tile-text-left {
  float: left;
  margin-right: 20px;
  position: relative;
  width: 70%;
}

.work-tile-text-full {
  height: auto;
  margin-right: 20px;
  margin-top: 25px;
  min-width: 400px;
  padding-top: 50px;
  padding-bottom: 100px;
  position: relative;
  text-align: center;
  border-top: 1px solid rgb(200,200,200);
  width: 100%; 
}

.work-tile-container h2 a {
  font-weight: 100;
  letter-spacing: .015rem;
  margin-bottom: 0;
}

.work-tile-container h3 {
  font-style: italic;
  font-weight: 100;
  margin: 5px 0px -10px 2px;
}

.work-tile-container p {
  margin-bottom: -10px;
}

.work-paragraph-line {
  font-size: 1.25rem;
  margin-bottom: 8px;
  margin-left: 25px;
  margin-top: 0;
  text-indent: -10.50px;
}

.cf-img {
  background: url(../images/cf.png) no-repeat center center;
  background-size: cover;
  height: 300px;
  margin-left:25px;
  margin-top: -25px;
  text-align: center;
  width: 150px;
}

.kf-img {
  background: url(../images/kf-2.png) no-repeat center center;
  background-size: cover;
  height: 96px;
  margin-left:25px;
  margin-top: 20px;
  text-align: center;
  width: 150px;
}

.upaji-img {
  background: url(../images/upaji-logo.png) no-repeat center center;
  background-size: cover;
  height: 150px;
  margin-left:25px;
  text-align: center;
  width: 150px;
}

.new-project-img {
  background: rgb(125,125,125);
  border: 1px solid black;
  color: white;
  font-size: 3.35rem;
  font-weight: 700;
  margin-top: 15px;
  text-align: center;
}

button {
  font-size: 1.025rem;
  height: 50px;
  margin: 10px 0px 0px 25px;
  padding-right: 11px;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
  width: auto;
}

.btn-hire {
  font-size: 1.5rem;
  width: 200px;
  height: 75px;
  padding: 0;
  margin: 0;
}

.btn-hire:hover {
  background: #df864a;
}

.btn-hire:active {
  background: #d16a25;
}


/*--------------------------- 
        Responsive
---------------------------*/


@media only screen and (min-width : 730px) and (max-width : 950px) {
  .work-tile-container {
    height: 250px;
    margin-top: 20px;
    width: 97.5%;
  }

  .work-tile-img-left {
    border-radius: 3px;
    float: left;
    height: 200px;
    width: 25%;
  }

  .work-tile-img-right {
    border-radius: 3px;
    float: right;
    height: 200px;
    width: 25%;
  }

  .work-tile-text-right {
    float: left;
    margin-left: 5px;
    position: relative;
    width: 70%;
  }

  .work-tile-text-left {
    float: left;
    margin-right: 5px;
    position: relative;
    width: 70%;
  }

  .work-tile-text-full {
    margin-left: -15px;
    min-width: 300px;
    padding-bottom: 125px;
    width: 100%;
  }

  .upaji-img {
    height: 125px;
    margin-left: 10px;
    width: 125px;
  }
}

