*{
  
}
.work-tile-container {
  width: 97.5%;
  height: 250px;
  padding-bottom: 100px;
}

.work-tile-img-left {
  width: 25%;
  height: 200px;
  border-radius: 3px;
  float: left;
}

.work-tile-img-right {
  width: 25%;
  height: 200px;
  border-radius: 3px;
  float: right;
}

.work-tile-text-right {
  float: left;
  position: relative;
  width: 70%;
  margin-left: 20px;
}

.work-tile-text-left {
  float: left;
  position: relative;
  width: 70%;
  margin-right: 20px;
}

.work-tile-text-full {
  position: relative;
  text-align: center;
  min-width: 400px;
  width: 100%;
  margin-right: 20px;
  padding-bottom: 100px;
}

.work-tile-container h2 a {
  font-weight: 100;
  letter-spacing: .015rem;
  margin-bottom: 0;
}

.work-tile-container h3 {
  font-weight: 100;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 0;
}

.work-tile-container p {
  margin-top: 15px;
}

.work-paragraph-line {
  font-size: 1.25rem;
  margin-left: 25px;
  margin-bottom: 10px;
  margin-top: 0;
  text-indent: -10.50px;
}

.upaji-img {
  background: url(../images/upaji-logo.png) no-repeat center center;
  background-size: cover;
  margin-left:25px;
  width: 150px;
  height: 150px;
  text-align: center
}

.new-project-img {
  border: 1px solid black;
  margin-top: 15px;
  color: white;
  background: rgb(125,125,125);
  font-size: 3.35rem;
  font-weight: 700;
  text-align: center;
}

button {
  color: white;
  font-size: 1.025rem;
  width: auto;
  margin: 10px 0px 50px 25px;
  padding-right: 11px;
  height: 50px;
  border-radius: 3px;
  font-weight: 100;
  letter-spacing: .05rem;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.11), inset 1px 1px 0 rgba(255, 255, 255, 0.4);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
  background: -webkit-linear-gradient(top, #476ab4 0%, #36518a 100%);
  border: 1px solid #36518a;  
  text-align: center;
}

button i {
  font-size: 1.25rem !important;
  margin-right: 8px;
  margin-left: 8px;
  padding: 0; 
}

button:hover {
  background: #476ab4;
}

button:active {
  background: #36518a;
}