
ul#sm { width: 100%; overflow: hidden; padding: 0;}
ul#sm li { float: left; margin:0 5px 5px 0}
ul#sm li:nth-last-child(1) { margin-right:0 }
ul#sm li a { width:33px; height: 33px; display: block; background-image:url("../images/socialmedia.svg"); text-indent:-99999px }

a.facebook { background-position: 0 0 }
a.facebook:hover { background-position: 0 -33px;}

a.twitter { background-position: -40px 0 }
a.twitter:hover { background-position: -40px -33px;}

a.gplus { background-position: -80px 0 }
a.gplus:hover { background-position: -80px -33px;}

a.linkedin { background-position: -240px 0 }
a.linkedin:hover { background-position: -240px -33px;}