body {
  font-family: Helvetica Neue;
  font-size: 15px;
  font-weight: 300;
  margin: 0 0 0 0;
}

h1 {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 3em;
  line-height: 1em;
}

h3 {
  font-weight: 300;
  font-size: 1.25em;
  line-height: 1.25em;
}

a {
  text-decoration: none;
  color: #7c7ab3;
  
}

a:hover {
  color: #3a3f9c;
}

.pullright {
  -webkit-transition-property: color, background-color, padding-left;
  -webkit-transition-duration: 400ms, 400ms, 400ms;
  -moz-transition-property: color, background-color, padding-left;
  -moz-transition-duration: 400ms, 400ms, 400ms;
}

.pullright:hover {
  background-color:#efefef;
  color:#333;
  padding-left:30px
}

img[class='nd'] {
  width: 45%;
  height: 65%;
  position: relative;
  left: -27.5%;
  top: 18%; 
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 0 0 0;
}

.nav {
  position: fixed;
  background-color: rgba(255, 255, 245, 1);
  color: rgb(51, 51, 51);
  height: 100%;
  width: 17%;
  min-height: 525px;
  min-width: 100px;
  padding: 1px 8px 0px 27.5px;
  z-index: 30;
}

.menu {
  font-size: 1.2em;
  float: left;
}

.footer {
  position: absolute;
  font-size: .95em;
  padding-right: 20px;
  bottom: 30px;
}

.main-content {
  position: absolute; 
  height: 100%;
  width: 80%;
  min-width: 750px;
  padding-left: 20%;
}

.row {
  height: 33.333%;
}

.column {
  position: relative;
  display: inline-block; 
  text-align: right;
  float: left;
  height: 100%;
  min-height: 175px;
  min-width: 225px;
  width: 33.333%;
  z-index: 20;
}

.box-1 {
  background: rgba(245, 10, 10, .6);
}

.box-2 {
  background: rgba(144, 178, 71, .6);
}

.box-3 {
  background: rgba(0, 63, 76, .75);
}

.box-4 {
  background: rgba(240, 239, 136, .8);
}

.box-5 {
  background: rgba(113, 71, 191, .9);
}

.text5 {
  position: relative;
  color: white;
  font-family: Helvetica;
  text-align: center;
  font-size: 600%;
  width: 50%;
  height: 50%;
  top: 15%;
  left: 25%;
}

.text5b {
  position: relative;
  color: white;
  text-align: center;
  font-family: Open Sans;
  font-weight: 300; 
  font-size: 1.3em;
}

.box-6 {
  background: rgba(150, 191, 72, .9);
}

.box-7 {
  background: rgba(0, 43, 91, 1);
}

.box-8 {
  background: rgba(240, 123, 0, .8);
}

.box-9 {
  background-image: url('../images/LA.png');
  background-repeat: no-repeat;
  background-position: center;
}

.box-9:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
}
