.nav {
  background-color: navy;
  color: white;
  height: 100%;
  max-width: 25%;
  position: fixed;
}

.container {
  margin: 15px 15px;
}

.main-content {
  width: 100%;
  height: 100%;
  position: fixed; 
}

.row {
  height: 33%;
}

.col-md-3, .col-sm-push-3 {
  background-color: yellow;
  position: relative;
  height: 100%;
  width: 25%;
  border: .1em solid red;
  display: inline-block; 
  text-align: right;
  z-index: 10;
}