/*-----All-----*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', 'sans-serif';
  font-size: 16px;
  font-weight: 300;
}

body {
  overflow-x: hidden; 
  overflow-y: hidden;
}


/*------Navigation-----*/
nav {
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  top: 6%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  letter-spacing: .4em;
  padding: 20px;
  z-index: 20;
  margin-left: -20px;
}

nav li {
  list-style: none;
  display: inline;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 20px;
  margin: -5px;
  font-size: 18px;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}

nav a:hover {
  color: white;
  background-color: rgba(45,45,45,.4);
}

h1 {
  font-size: 5em;
  font-weight: 500;
  line-height: 1em;
}

h2 {
  font-size: 4em;
  font-weight: 400;
  line-height: 1em;
}

h3 {
  font-size: 3em;
  font-weight: 300;
}


/*-----Header------*/
.header {
  position: absolute;
  background: url(../images/skyline.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.overlay{
  position: absolute;
  background-color: rgba(16,16,16,.3);

  width: 100%;
  height: 100%;
  z-index: 20;
}

.headertext{
  position: fixed;
  color: white;
  left: 5%;
  bottom: 10%;
  z-index: 30;
  -webkit-backface-visibility: hidden;
}

.fadeheader {
  opacity: 0;
}

.char1 {
  font-size: 12em;
  margin: 0px 0px -145px -7.5px;
  opacity: 0;
}

/*-----About Me-----*/
.containertext {
  position: absolute;
  color: white;
  top: 10%;
  left: 5%;
}

.container {
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.aboutcontainer {  
  background-color: rgb(54,152,190);
  top:100%;
  z-index: 40;
}


/*-----Projects-----*/
.workcontainer {
  background-color: rgba(238,162,154,1);
  top: 200%;
  z-index: 40;
}

/*----Quotes-----*/
.quotescontainer {
  background-color: rgba(78, 129, 229, 1);
  top: 300%;
  z-index: 40;
}

