/*-----All-----*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', 'sans-serif';
  font-size: 16px;
  font-weight: 300;
}

body {
  overflow-x: hidden; 
  overflow-y: hidden;
}


/*------Navigation-----*/
nav {
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  top: 40px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  letter-spacing: .4em;
  padding: 20px;
  z-index: 20;
  margin-left: -20px;
}

nav li {
  list-style: none;
  display: inline;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 20px;
  margin: -5px;
  font-size: 18px;
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}

nav a:hover {
  color: white;
  background-color: rgba(45,45,45,.4);
}

h1 {
  font-size: 5em;
  font-weight: 500;
  line-height: 1em;
}

h2 {
  font-family: "Helvetica Neue";
  font-variant: small-caps;
  letter-spacing: .1em;
  font-size: 4em;
  font-weight: 100;
  line-height: 1em;
}

h3 {
  font-size: 3em;
  font-weight: 300;
}

p {
  font-size: 21px;
  letter-spacing: .095em;
  font-family: "Helvetica Neue";
  font-weight: 100;
}

/*-----Sliding Nav Bar-----*/
a.slidingnav {
  z-index: 200;
  position: fixed;
  padding: 10px;
  opacity: .85;
}

#pageslide {
  /* These styles MUST be included. Do not change. */
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  
  width: 225px;
  padding: 1px;
  
  background-color: white;
  margin: 0;
  -webkit-box-shadow: inset 0 0 1px 1px #404040;
  -moz-shadow: inset 0 0 1px 1px #404040;
  box-shadow: inset 0 0 1px 1px #404040;
}

/*-----Header------*/
.container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  
  background: url(../images/skyline.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.overlay{
  background-color: rgba(16,16,16,.25);
  width: 100%;
  height: 100%;
  z-index: 20;
}

.headertext{
  position: fixed;
  color: white;
  left: 5%;
  bottom: 10%;
  z-index: 30;
  -webkit-backface-visibility: hidden;
}

.fadeheader {
  opacity: 0;
  padding-right: 25px;

}

.char1 {
  display: none;
  font-size: 12em;
  margin: 0px 0px -145px -7.5px;
  opacity: 0;
}

/*-----Resume-----*/

.modal {
  display: none;
  background-color: rgba(16,16,16,.7);
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9998;
}

.modal iframe {
  display: none;
  width: 70%;
  height: 92.5%;
  margin: 2% 15%;
  z-index: 9999;
}

/*-----About Me-----*/
.abouttext {
  position: absolute;
  background-color: rgba(60,60,60,.75);
  color: white;
  top: 5%;
  left: 5%;
  width: 40%;
  min-width: 290px;
  padding: 40px;
  z-index: 20;
  box-shadow: 6px 6px 7px rgba(0,0,0,.7);
}

.aboutcontainer {  
  background-image: url('../images/retina_wood.png');
  background-color: white;
  top: 100%;
  z-index: 21;

  -webkit-box-shadow: inset 2px 1px 1px 1px #404040;
  -moz-shadow: inset 2px 1px 1px 1px #404040;
  box-shadow: inset 2px 1px 1px 1px #404040;
}

.aboutcontainer img{
  position: absolute;
  background-color: white;
  cursor: pointer;
  width: 250px;
  border: 1px solid rgba(0,0,0,.25);
  padding: 15px 15px 80px 15px;
}

.aboutcontainer img::after{
  content: 'Hi';
  display: inline-block;
  margin-left: 5px;
  font-size: 2em;
  color: black;
  z-index: 50;
}

.aboutcontainer img[alt='one'] {
  bottom: 5%;
  right: 10%;
  
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);

  -webkit-box-shadow: 2px 2px 6px #333;
  -moz-shadow: 2px 2px 6px #333;
  box-shadow: 2px 2px 6px #333;
  
  z-index: 19;
}

.aboutcontainer img[alt='two'] {
  bottom: 12%;
  right: 17.5%;

  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);

  -webkit-box-shadow: 1px 1px 2px #333;
  -moz-shadow: 1px 1px 2px #333;
  box-shadow: 1px 1px 2px #333;
  z-index: 18;
}

.aboutcontainer img[alt='three'] {
  top: 26%;
  right: 6%;

  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);

  -webkit-box-shadow: 2px 3px 3px #333;
  -moz-shadow: 2px 3px 3px #333;
  box-shadow: 2px 3px 3px #333;
  z-index: 17;
}

.aboutcontainer img[alt='four'] {
  top: 15%;
  right: 10%;

  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);

  -webkit-box-shadow: 2px 3px 6px #333;
  -moz-shadow: 2px 3px 6px #333;
  box-shadow: 2px 3px 6px #333;
  z-index: 16;
}

.aboutcontainer img[alt='five'] {
  top: 8%;
  right: 17%;

  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);

  -webkit-box-shadow: 1px 10px 10px #333;
  -moz-shadow: 1px 10px 10px #333;
  box-shadow: 1px 10px 10px #333;
  z-index: 15;
}

.aboutcontainer .ndlogo {
  position: absolute;
  background-color: green;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  bottom: 50px;
  left: 40%;

  -webkit-transform: rotate(-12.5deg);
  -moz-transform: rotate(-12.5deg);
}

.aboutcontainer .ndlogo img{
  position: relative;
  padding: 100px;
  width: 50%;
  top: -25%;
  left: -22.5%;
}

/*.modal2 {
  position: absolute;
  background-color: rgba(1,1,1,.8);
  height: 100%;
  width: 45%;
  right: 0%;
  z-index: 99999;
}*/


/*-----Projects-----*/
.workcontainer {
  background-color: rgba(238,162,154,1);
  top: 100%;
  z-index: 21;
}

/*----Quotes-----*/
.quotescontainer {
  background-color: rgba(78, 129, 229, 1);
  top: 100%;
  z-index: 21;
}


/*-----Mobile-----*/
@media screen and (max-width: 500px) {
  .char1 {
    display: none;
  }
  nav {
    background-color: rgba(16,16,16,.5); 
    text-transform: uppercase;
    width: 200px;
    top: 1%;
    border: 1px solid white;
    letter-spacing: .4em;
    padding: 5px 0px 5px 20px;
  }
  nav li {
    display: inline;
    text-align: right;
  }
  nav a {
    display: block;
    padding: 8px;
    margin: 0px;
    font-size: 15px;
  }
}