@font-face {
  font-family: 'EntypoRegular';
  src: url('../fonts/entypo.eot');
  src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
       url('../fonts/entypo.woff') format('woff'),
       url('../fonts/entypo.ttf') format('truetype'),
       url('../fonts/entypo.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EntypoSocialRegular';
  src: url('../fonts/entypo-social.eot');
  src: url('../fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
       url('../fonts/entypo-social.woff') format('woff'),
       url('../fonts/entypo-social.ttf') format('truetype'),
       url('../fonts/entypo-social.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0; 
  padding: 0; 
  outline: 0;}

::selection {
  background: rgba(124,122,179,.25);
  }
::-moz-selection {
  background: rgba(124,122,179,.25);
}

body {
  font-family: "Open sans", Arial, Verdana, sans-serif;
  color: #333;
  font-weight: 300;
  font-size: 12px;
  background:#bfbfbf;
  background-image: url('../images/sos.png');
}


h1, h2, h3, p {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  letter-spacing: .075em;
  margin:0 0 15px 0;
}

h1 {
  font-size: 3em;
  line-height: 100%;
  text-align: center;
}

h1::before {
  content: "\2014";
}

h1::after {
  content: "\2014";
}

h2 {
  font-size: 2.5em;
  text-align: center;
  line-height: 100%;
}

h3 {
  font-size: 1.75rem;
  line-height: 100%;
  text-align: center;
}

p {
  letter-spacing: .075em;
  font-size: 1.25rem;
}

.menuBtn {
  display: block;
  width: 40px;
  height: 40px;
  position: fixed;
  top: 0;
  left: 10px;
}

.clear {
  clear: both;
}

.wrap {
  width: 100%;
  min-width: 1080px;
  z-index: 10;
  position: relative;
  margin: 0;
  padding: 0;
}

.section {
  width: 100%;
  min-width: 1080px;
  z-index: 10;
  position: relative;
  margin: 0 auto;
  padding: 0 0 20px 0;
}


.inner {
  width: auto;

  margin: 0 5% 0 5%;
  position: relative;
  min-height: 50px;
  font-size: 18px;
  padding:50px 0;
}

.subMenu {
  position: fixed;
  height: 50px;
  z-index: 1000;
  width: 100%;
  min-width: 1080px;
  background: rgba(250,250,250,1);
  text-transform: uppercase;
  letter-spacing: .3em;
  border-bottom: 2px solid rgb(124,122,179);
}

.subMenu .active {
  color: white;
  background-color: rgba(58,63,156,.75);
  border-bottom: 2px solid rgba(255,255,255,.8);
  -o-transition:.20s;
  -ms-transition:.20s;
  -moz-transition:.20s;
  -webkit-transition:.20s;
  transition:.20s;
}

.subMenu a {
  color: rgb(76,0,163);
}

.subMenu a:hover {
  color: white;
  background-color: rgba(124,122,179,.75);
  border-bottom: 2px solid rgba(255,255,255,.8);
  -o-transition:.20s;
  -ms-transition:.20s;
  -moz-transition:.20s;
  -webkit-transition:.20s;
  transition:.20s;
}

.subMenu .inner {
  padding:0;
  font-weight: 400;
}

.subNavBtn {
  display: block;
  height: 35px;
  width: auto;
  float: left;
  margin: 0;
  text-decoration: none;
  font-size: 15px;
  padding: 15px 30px 0 30px;
  text-align: center;
}

.homebtn {
  font-family: 'EntypoRegular';
  font-size: 40px;
  margin-top: -8px;
  padding-bottom: 8px;
  text-decoration: none;
}

.arrow-down {
  width: 0; height: 0; 
  border:20px solid transparent;
  border-top-color:#6e87a1;
  margin-left: 47.9%;
}

/* SECTIONS */
.sTop {
  height: 575px;
  width: 100%;
  background-color: rgba(205, 198, 115, .3);
  background: url(../images/skyline.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

/*----- About -----*/
.s1 {
  color: #555;
  min-height: 500px;
  background: #e7e7e7;
  border-bottom: 1px solid #ddd
}
.arrow1 {
  border-top-color: #FFA07A;
}

.s1 img[class="biopic"] {
  width: 15%;
  margin-left: 42.5%;
  border: 2.5px solid white;
  border-radius: 50%;
  margin-bottom: 30px;
}

.s1 p {
  margin: 0 5% 0 5%;
  text-align: justify;  
  line-height: 1.6rem;
  margin-bottom: 8px;
}

.moreabout {
  margin-top: 30px;
  text-align: center;
  cursor: pointer;
  color: rgb(76,0,163);
}

.moreabouttext {
  display: none;
}

/*----- Blog -----*/
.s2 {
  min-height: 500px;
/*  background: rgb(71,141,71);*/
  background: #fff;
    border-bottom: 1px solid #ddd
}
.arrow2 {
  /*border-top-color:rgb(71,141,71);*/
  border-top-color:#CD7054;
}

.blogcontainer {
  display: inline-block;
/*  text-align: center;*/
  margin: 10px;
}
.blogcontainer strong{
  font-size: 1.1em;
}

.blogcontainer ul{
  list-style: none;
  text-align: left;
}

.blogcontainer li{
  padding-top: 6px;
 /* text-align: center;*/
}

.blogcontainer a{
  color: white;
  text-decoration: none;
}

.blogcontainer a:hover {
  color: rgba(124,122,179,1);
}

.blogposts {
  position: absolute;
  float: left;
  padding-left: 40px;
  left: -50px;
  width: 50%;
}

.guestposts {
  position: absolute;
  float: right;
  left: 53%;
  width: 435px;
}





.s3 {
  min-height: 500px;
  background: #e7e7e7;
    border-bottom: 1px solid #ddd
}
.arrow3 {
  border-top-color:#B0C4DE;
}

.s4 {
  min-height: 500px;
  background: #fff;
    border-bottom: 1px solid #ddd
}
.arrow4 {
  border-top-color:#6e87a1;
}

/*----- Section 5 -----*/
.s5 {
  height: 450px;
  background: #e7e7e7;
    border-bottom: 1px solid #ddd
}
.arrow5 {
  border-top-color:#293b4d;
}


.socialbtn {
  font-family: 'EntypoRegular', 'EntypoSocialRegular';
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 9.5em;
  float: left;
  width: auto;
  padding: 0 35px;
  -o-transition:.20s;
  -ms-transition:.20s;
  -moz-transition:.20s;
  -webkit-transition:.20s;
  transition:.20s;
}

.email:hover {
  color: #16a61e;
  background-color: white;
}
.fb:hover {
  color: rgb(59, 89, 182);
  background-color: white;
}

.li:hover {
  color: rgb(0, 123, 182);
  background-color: white;
}

.tw:hover {
  color: rgb(0, 172, 237);
  background-color: white;
}

.git:hover {
  color: #171515;
  background-color: white;
}

.blog:hover {
  color: #FE6600;
  background-color: white;
}

.socialbtnposition{
  position: absolute;
  left: 50%;
  width: 875px;
  margin-left: -425px;
/*  padding-left: 6.5px;*/
}

/*----- Section 6 -----*/
.s6 {
  background: #3f3f3f;
  height: 140px;
  margin-bottom: 0;
  border-top: 3px solid #ccc;
  background-image: url('../images/debut_dark.png');
}

.footer {
  font-family: "Helvetica Neue";
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: .09em;
  text-align: center;
  margin-bottom: -60px;
  line-height: 1.25em;
/*  margin-top: -20px;*/
}

.footer a{
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: rgba(124,122,179,1);
}

/*----- Arrows -----*/
