body {
  font-family: Helvetica Neue;
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 0 0;
}

h1 {
  font-size: 45px;
}

h3 {
  font-size: 1.4em;
}

a {
  text-decoration: none;
  color: #7c7ab3;
}

a:hover {
  color: #3a3f9c;
}

img {
  width: 45%;
  height: 65%;
  position: relative;
  left: -27.5%;
  top: 18%; 
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 0 0 0;
}

.nav {
  position: fixed;
  background-color: white;
  float: right;
  color: rgb(51, 51, 51);
  height: 100%;
  width: 20%;
  min-height: 525px;
  min-width: 10%;
  padding: 0px 10px 0px 27.5px;
  z-index: 10;
}

.menu {
  font-size: 1.2em;
  float: left;
}

.footer {
  position: absolute;
  font-size: .95em;
  bottom: 30px;
}

.main-content {
  position: absolute; 
  height: 100%;
  width: 80%;
  min-width: 750px;
  padding-left: 20%;
}

.row {
  height: 33.333%;
}

.column {
  position: relative;
  display: inline-block; 
  text-align: right;
  float: left;
  height: 100%;
  min-height: 175px;
  min-width: 225px;
  width: 33.333%;
  z-index: 20;
}

.box-1 {
  background: rgba(245, 10, 10, .6);
}

.box-2 {
  background: rgba(144, 178, 71, .6);
}

.box-3 {
  background: rgba(0, 63, 76, .75);
}

.box-4 {
  background: rgba(240, 239, 136, .8);
}

.box-5 {
  background: rgba(113, 71, 191, .9);
}

.box-6 {
  background: rgba(150, 191, 72, .9);
}

.box-7 {
  background: rgba(0, 43, 91, 1);
}

.box-8 {
  background: rgba(240, 123, 0, .8);
}

.box-9 {
  background: rgba(245, 10, 10, .35);
}