/*-----All-----*/
@font-face {
    font-family: 'EntypoRegular';
    src: url('../fonts/entypo.eot');
    src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/entypo.woff') format('woff'),
         url('../fonts/entypo.ttf') format('truetype'),
         url('../fonts/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', 'sans-serif';
  font-size: 16px;
  font-weight: 300;
}


/*------Navigation-----*/
nav {
  position: fixed;
  background-color: rgb(235,235,235);
  text-align: right;
  text-transform: uppercase;
  width: 95%;
  left: 2.5%;
  border-radius: 3px;
  letter-spacing: .3em;
  padding: 20px;
  z-index: 99999;
  margin-left: -20px;

  -webkit-box-shadow: 2px 2px 3px #404040;
  -moz-shadow: 2px 2px 3px #404040;
  box-shadow: 2px 2px 3px #404040;
}

nav li {
  list-style: none;
  display: inline;
}

nav a {
  text-decoration: none;
  font-weight: 400;
  color: rgba(45,45,45,1);
  padding: 20px;
  margin: -5px;
  font-size: 16.5px;

  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}

nav a:hover {
  color: white;
  background-color: rgba(124,122,179,.75);
  border-bottom: 2px solid rgba(255,255,255,.8);
}

.logo {
  text-transform: none;
  margin-left: 25px;
  margin-top: -17.5px;
  text-align: left;
  position: fixed;
  font-size: 40px;
}

h1 {
  font-size: 5em;
  font-weight: 500;
  line-height: 1em;
}

h2 {
  font-family: "Helvetica Neue";
  font-variant: small-caps;
  letter-spacing: .1em;
  font-size: 4em;
  font-weight: 100;
  line-height: 1em;
}

h3 {
  font-size: 3em;
  font-weight: 300;
}

p {
  font-size: 21px;
  letter-spacing: .095em;
  font-family: "Helvetica Neue";
  font-weight: 100;
}

/*-----Sliding Nav Bar-----*/
a.slidingnav {
  z-index: 200;
  position: fixed;
  text-decoration: none;
  color: white;
  font-size: 2em;
  padding: 0px 10px 4px 10px;
  opacity: .85;
  background-color: rgba(16,16,16,.8);
  border-radius: 10px;
  margin: 5px 0px 0px 5px;
}

#pageslide {
  /* These styles MUST be included. Do not change. */
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  
  width: 225px;
  padding: 1px;
  
  background-color: white;
  margin: 0;
  -webkit-box-shadow: inset 0 0 1px 1px #404040;
  -moz-shadow: inset 0 0 1px 1px #404040;
  box-shadow: inset 0 0 1px 1px #404040;
}

/*-----Header------*/
.container {
  position: absolute;
  width: 100%;
  height: auto;
}

.header {
  position: absolute;
  width: 100%;
  height: 80%;
  z-index: 10;
  
  background: url(../images/skyline.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.overlay{
  background-color: rgba(16,16,16,.35);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
}

/*-----Resume-----*/

.modal {
  display: none;
  background-color: rgba(16,16,16,.7);
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9998;
}

.modal iframe {
  display: none;
  width: 70%;
  height: 92.5%;
  margin: 2% 15%;
  z-index: 9999;
}

/*-----About Me-----*/
.aboutcontainer {  
  background-image: url('../images/retina_wood.png');
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 21;

  -webkit-box-shadow: inset 2px 1px 1px 1px #404040;
  -moz-shadow: inset 2px 1px 1px 1px #404040;
  box-shadow: inset 2px 1px 1px 1px #404040;
}
.abouttext {
  position: absolute;
  background-color: rgba(60,60,60,.75);
  color: white;
  top: 5%;
  left: 5%;
  width: 40%;
  min-width: 290px;
  padding: 40px;
  z-index: 20;
  box-shadow: 6px 6px 7px rgba(0,0,0,.7);
}



/*-----Projects-----*/
.workcontainer {
  background-color: rgba(238,162,154,1);
  top: 100%;
  z-index: 21;
}

/*----Quotes-----*/
.quotescontainer {
  background-color: rgba(78, 129, 229, 1);
  top: 100%;
  z-index: 21;
}


/*-----Mobile-----*/
@media screen and (max-width: 500px) {
  nav {
    background-color: rgba(16,16,16,.5); 
    text-transform: uppercase;
    width: 200px;
    top: 1%;
    border: 1px solid white;
    letter-spacing: .4em;
    padding: 5px 0px 5px 20px;
  }
  nav li {
    display: inline;
    text-align: right;
  }
  nav a {
    display: block;
    padding: 8px;
    margin: 0px;
    font-size: 15px;
  }
}