.detail-container {
  padding-bottom: 200px;
}

.upaji-bg-img {
  border-radius: 3px;
  border: 1px solid;
  height: 400px;
  margin-left: 20px;
  margin: 20px 0;
  width: 96.5%;
}

.bg-img-btn-container {
  margin-bottom: 20px;
  text-align: center;
  width: 96.5%;
}

button {
  border-radius: 3px;
  color: #fff;
  font-size: 1.025rem;
  font-weight: 100;
  height: 50px;
  letter-spacing: .05rem;
  margin: 0 5px;
  padding-right: 13px;
  text-align: center;
  width: auto;
}

button i {
  font-size: 1.25rem !important;
  margin-left: 8px;
  margin-right: 8px;
  padding: 0; 
}

.prototype-btn {
  background: -webkit-linear-gradient(top, #476ab4 0%, #36518a 100%);
  border: 1px solid #36518a;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.11), inset 1px 1px 0 rgba(255, 255, 255, 0.4);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
}

.github-btn {
  background: -webkit-linear-gradient(top, #df864a 0%, #d16a25 100%);
  border: 1px solid #d16a25;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.11), inset 1px 1px 0 rgba(255, 255, 255, 0.4);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
}

.github-btn:hover {
  background: #df864a;
}

.prototype-btn:hover {
  background: #476ab4;
}

.github-btn:active {
  background: #d16a25;
}

.prototype-btn:active {
  background: #36518a;
}

.fa-angle-double-right {
  margin-left: 4px;
}

h2 {

}

.detail-container p {
  margin: 10px 15px 25px 36.5px;
}

.toc {
  background: rgba(255,255,255,1);
  border: 1px solid rgba(0,0,0,.2);
  left: 240px;
  position: fixed;
  top:0;
  width: 85%;
  z-index:9999;
}

.toc ul {
  display: inline;
  list-style: none;
  width: .125%;
  z-index: 9999;
}